---
global:
  sendAnonymousUsage: false
  checkNewVersion: {{ traefik_check_new_version | lower }}
{% if traefik_verify_healthcheck %}
ping:
{% if traefik_ping_entrypoint %}
  entryPoint: {{ traefik_ping_entrypoint }}
{% else %}
  {}
{% endif %}
{% endif %}

log:
  level: {{ traefik_log_level }}
  format: {{ traefik_log_format }}

accessLog:
{{ traefik_access_log | to_nice_yaml(indent=2) | indent(2, first=true) }}

entryPoints:
  web:
    address: ":{{ traefik_entrypoint_web_port }}"
    forwardedHeaders:
      trustedIPs:
{% for ip in traefik_trusted_ips %}
        - "{{ ip }}"
{% endfor %}
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
  websecure:
    address: ":{{ traefik_entrypoint_websecure_port }}"
    forwardedHeaders:
      trustedIPs:
{% for ip in traefik_trusted_ips %}
        - "{{ ip }}"
{% endfor %}
{% if traefik_cups_enabled %}
  cups:
    address: ":{{ traefik_entrypoint_cups_port }}"
    forwardedHeaders:
      trustedIPs:
{% for ip in traefik_trusted_ips %}
        - "{{ ip }}"
{% endfor %}
{% endif %}
{% if traefik_verify_healthcheck and traefik_ping_entrypoint %}
  {{ traefik_ping_entrypoint }}:
    address: "{{ traefik_ping_entrypoint_address }}"
{% endif %}

providers:
{% if traefik_provider_docker_enabled %}
  docker:
    network: "{{ traefik_docker_network }}"
    exposedByDefault: {{ traefik_provider_docker_exposed_by_default | lower }}
{% endif %}
{% if traefik_provider_file_enabled %}
  file:
    directory: "{{ traefik_dynamic_dir }}"
    watch: true
{% endif %}
{% if traefik_acme_enabled %}
certificatesResolvers:
{% for name, resolver in traefik_acme_resolvers.items() %}
  {{ name }}:
    acme:
      email: "{{ traefik_acme_email }}"
      storage: "{{ traefik_certs_dir }}/acme-{{ name }}.json"
{% if traefik_acme_caserver %}
      caServer: "{{ traefik_acme_caserver }}"
{% endif %}
      dnsChallenge:
        provider: {{ resolver.provider }}
        delayBeforeCheck: {{ resolver.delay_before_check }}
        disablePropagationCheck: {{ (resolver.disable_propagation_check | default(traefik_acme_disable_propagation_check)) | lower }}
        resolvers:
{% for r in (resolver.dns_resolvers | default(traefik_acme_default_dns_resolvers)) %}
          - "{{ r }}"
{% endfor %}
{% endfor %}
{% endif %}
